/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
   background-color: #eeeeee;
   color: #606161;
   font-size: 12px;
   line-height: 1.4;
   font-family: 'Open Sans', Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  margin: auto;
  padding-left: 50px;
  max-width: 960px;
}


header {
  background-color: #033048;
}
header div {
  padding: 20px 0px;
}
header h1 {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font: 24px 'Open Sans', sans-serif;
  font-weight: 700;
}
header nav {
  float: right;
}
header nav a {
  padding: 50px 20px;
  color: #f9e42e;
  font: 14px 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
}


section.main {
  display: inline-block;
  margin-right: 20px;
  max-width: 650px;
  height: 500px;
}
.main article {
  padding: 50px 0px 100px 0px;
  border-bottom: 2px solid #aaa;
}
.main h2 {
  /*margin-bottom: 10px;*/
  color: #033048;
  font: 24px 'Open Sans', sans-serif;
  font-weight: 500;
}
.main img {
  margin: 10px 0px;
  width: 100%;
}
.main p {
  color: #606161;
  font: 16px 'Open Sans';
  font-weight: 100;
}
.main p::first-letter {
  float: left;
  margin-top: -10px;
  margin-bottom: -10px;
  padding-right: 10px;
  vertical-align: top;
  font-size: 60px;
  font-weight: 500;
}
.main a {
  display: inline-block;
  float: right;
  margin: 20px 0px;
  color: #121212;
  font: 16px 'Open Sans';
  font-weight: 700;
  text-decoration: none;
}


section.sidebar {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  max-width: 240px;
  height: 500px;
}
.sidebar h2 {
  padding: 10px 0px;
  color: #033048;
  font: 22px 'Open Sans';
  font-weight: 700;
}
.sidebar img {
  width: 100%;
  margin-top: 40px;
}
.sidebar li, p, a{
  font-size: 14px;
  font-weight: 100;
}
.sidebar a {
  color: #121212;
  font-weight: 700;
  text-decoration: none;
}


section.signup {
  margin-top: 200px;
  background-color: #f9e42e;
  padding: 20px;
  text-align: center;
}
.signup button {
  background-color: #033048;
  border: none;
  border-radius: 5px;
  padding: 10px 30px; 
  margin: 0px auto;
}
.signup button a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
}
.signup #container {
  padding: 0px;
}


footer {
  background-color: #222;
  padding: 20px;
  text-align: center;
}
footer h2 {
  margin: 10px;
  color: #f9e42e;
  font: 24px 'Open Sans', sans-serif;
  font-weight: 700;
}
footer img {
  margin: 20px 10px;
  max-width: 20px;
  max-height: 20px;
}
footer h3 {
  margin: 10px;
  color: #fff;
  font: 9px 'Open Sans', sans-serif;
  font-weight: 500; 
}

div.lilfix {
  height: 1px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




